<a href="https://colab.research.google.com/github/manojkumar423/My-Work/blob/master/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Lists in Python
# Syntax: variable_name = [element 1,element2]
ValentineWeek = ['Rose Day','Propose day','Chocolate day','Teddy day','Promise day','Hug day','Kiss day','Valentine day']
ValentineWeek

['Rose Day',
 'Propose day',
 'Chocolate day',
 'Teddy day',
 'Promise day',
 'Hug day',
 'Kiss day',
 'Valentine day']

In [0]:
#check data type of valentine week 
type(ValentineWeek)

list

In [0]:
#size of the list
#size of th memory is resposnible for size of lists
import sys
print("Max size of machine is ",sys.maxsize)

Max size of machine is  9223372036854775807

In [0]:
# Create a list of attributes of Mr Suneel Kumar
suneel = ['Suneel Kumar','IIMT','9876545778', 23, 5.6]
suneel

['Suneel Kumar', 'IIMT', '9876545778', 23, 5.6]

In [0]:
# create an Empty List in python 
empty_list = []

In [0]:
#index of the elment in the list
ValentineWeek[4]

'Promise day'

In [0]:
# list in python
mylist = [1,2,4,5,3.5,6.5,20.6,True,False]
print(mylist)

[1, 2, 4, 5, 3.5, 6.5, 20.6, True, False]

In [0]:
type(mylist)

list

In [0]:
print(mylist[6])

#slicing--> Starting from index 0 till index 6

print(mylist[0:6])

20.6
[1, 2, 4, 5, 3.5, 6.5]

In [0]:
print (mylist[-5:-1])

[3.5, 6.5, 20.6, True]

In [0]:
# Mutable 
oldList = [10,20,30,40,50]
print(oldList)

oldList[1] = 200
print(oldList)

[10, 20, 30, 40, 50]
[10, 200, 30, 40, 50]

In [0]:
# lIST METHODS 

myList = [10,20,30,40,50]

#append--> add an item at the end of your list

myList.append(60)
print (myList)

#insert --> add an item at specific position
#insert(index , value)

myList.insert(1,200)
print(myList)
myList[2]

#extend --> extend the list by appending th items at last

myList.extend([70,80,90])
print(myList)

#remove --> remove the first item of list whose values is equal to x 
#remove(x)
myList.remove(30)
print(myList)

[10, 20, 30, 40, 50, 60]
[10, 200, 20, 30, 40, 50, 60]
[10, 200, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 200, 20, 40, 50, 60, 70, 80, 90]

In [0]:
x= [1,2,3]
x.append([4,5])
print(x)
len(x)

[1, 2, 3, [4, 5]]

4

In [0]:
x=[1,2,3]
x.extend([4,5])
print(x)
len(x)

[1, 2, 3, 4, 5]

5

In [0]:
#pop-->Remove the item from list based in given position
#if no argument is specified , then last element will be deleted
myList.pop(3)
print(myList)

myList.pop()

[10, 200, 20, 50, 60, 70, 80, 90]

90

In [0]:
# clear-->remove all items from list
print(myList)

myList.clear()
print(myList)

[10, 200, 20, 50, 60, 70, 80]
[]

In [0]:
x = [10,20,30,40,50,10,20,10,10]
print(x)

len(x)
#count--> return the number of x appear in List 
print(x.count(10))
#reverse -->reverse the element of your list
x.reverse()
print(x)

[10, 20, 30, 40, 50, 10, 20, 10, 10]
4
[10, 10, 20, 10, 50, 40, 30, 20, 10]

In [0]:
# Fetching Unique Elements From List

fruits = ['apple', 'apple', 'mango', 'guava', 'apple', 'guava', 'banana']
 
print (list(set(fruits)))

['mango', 'apple', 'guava', 'banana']

In [0]:
# use list as stacks
# implementation list as a stack
# stack--> LIFO{Last in First Out}
# Stack --> Insertion/Deletion takes place at the top if the stack

stack = [10,20,30,40]
stack.append(50)
stack.append(60)
print(stack)


stack.pop()

print(stack)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50]

In [0]:
# implementation of queues in List in python
#implment queues in list in python programming

from collections import deque
#create a queue

metro_queue = deque(['ram', 'shyam', 'manish'])
#check the queu
metro_queue

#add a person to the queue
metro_queue.append('Salman Khan')
metro_queue

#deque operation using popleft()
metro_queue.popleft()

#check the queue now 
metro_queue

deque(['shyam', 'manish', 'Salman Khan'])

In [0]:
# List comprhensions

# create a list of squared elements

[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [0]:
#create a subset of elements from two list where
# x!=y
[(x,y) for x in[1,2,3] for y in [3,4,5] if x!=y]

[(1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 4), (3, 5)]

In [0]:
# nested List comprehension
custom_list = [x*10 for x in [2,3,4]]
custom_list

del custom_list[1]
               
custom_list

[20, 40]

In [0]:
# Tuples and sequences
myTuple = "Devnashu Shukla", 5.8, 28
myTuple

('Devnashu Shukla', 5.8, 28)

In [0]:
# Tuple is immutable
myTuple[0]= "Salman Khan"

TypeError: ignored

In [0]:
# Tuple packing
mytuple1 = "microsoft", "simmba", 100
mytuple1

# Reverse Unpacking
a, b, c = mytuple1

#contents of a,b,c
print(a)
print(b)
print(c)

microsoft
simmba
100

In [0]:
# Create a set of actors
actors = {"Salman", "Shahrukh", "amir", "Salman"}
actors

{'Salman', 'Shahrukh', 'amir'}

In [0]:
# Dictionary
dict1 = {'name':"Manoj",
        'mobile_no ':'9643661693', 
        'postion':'Student', 
        'room': 205}
dict1

dict1['room'] = 201
dict1

{'mobile_no ': '9643661693',
 'name': 'Manoj',
 'postion': 'Student',
 'room': 201}

In [0]:
del dict1['postion']
dict1

{'mobile_no ': '9643661693', 'name': 'Manoj', 'room': 201}