In [1]:
import pandas as pd 
train = pd.read_csv('http://devanshushukla.com/hackveda.in/videos/PythonDataSets/twitter_sentiment_analysis.csv')
train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [2]:
# 1. Number of Words
train['word_count'] = train['tweet'].apply(lambda x:len(str(x).split(" ")))
train[['tweet','word_count']].head()

                                               tweet  word_count
0   @user when a father is dysfunctional and is s...          21
1  @user @user thanks for #lyft credit i can't us...          22
2                                bihday your majesty           5
3  #model   i love u take with u all the time in ...          17
4             factsguide: society now    #motivation           8

In [3]:
# 2. Number of characters 
train['char_count']=train['tweet'].str.len()
train[['tweet','char_count']].head()

                                               tweet  char_count
0   @user when a father is dysfunctional and is s...         102
1  @user @user thanks for #lyft credit i can't us...         122
2                                bihday your majesty          21
3  #model   i love u take with u all the time in ...          86
4             factsguide: society now    #motivation          39

In [4]:
# 3. Average of word length
def avg_word(sentence):
    words = sentence.split()
    return (sum(len(word) for word in words)/len(words))

train['avg_word'] = train['tweet'].apply(lambda x: avg_word(x))
train[['tweet','avg_word']].head()

                                               tweet  avg_word
0   @user when a father is dysfunctional and is s...  4.555556
1  @user @user thanks for #lyft credit i can't us...  5.315789
2                                bihday your majesty  5.666667
3  #model   i love u take with u all the time in ...  4.928571
4             factsguide: society now    #motivation  8.000000

In [5]:
#import nltk 
#nltk.download('stopwords')

from nltk.corpus import stopwords
stop = stopwords.words('english')
train['stopwords'] = train['tweet'].apply(lambda x:len([x for x in x.split() if x in stop]))
train [['tweet','stopwords']].head()

                                               tweet  stopwords
0   @user when a father is dysfunctional and is s...         10
1  @user @user thanks for #lyft credit i can't us...          5
2                                bihday your majesty          1
3  #model   i love u take with u all the time in ...          5
4             factsguide: society now    #motivation          1

In [6]:
train['hashtags']=train['tweet'].apply(lambda x:len([x for x in x.split()
                                 if x.startswith('#')]))
train[['tweet','hashtags']].head()

                                               tweet  hashtags
0   @user when a father is dysfunctional and is s...         1
1  @user @user thanks for #lyft credit i can't us...         3
2                                bihday your majesty         0
3  #model   i love u take with u all the time in ...         1
4             factsguide: society now    #motivation         1

In [7]:
train['numerics'] = train['tweet'].apply(lambda x: len([x for x in x.split()
                                                            if x.isdigit()]))
train[['tweet','numerics']].head(30)

                                                tweet  numerics
0    @user when a father is dysfunctional and is s...         0
1   @user @user thanks for #lyft credit i can't us...         0
2                                 bihday your majesty         0
3   #model   i love u take with u all the time in ...         0
4              factsguide: society now    #motivation         0
5   [2/2] huge fan fare and big talking before the...         0
6    @user camping tomorrow @user @user @user @use...         0
7   the next school year is the year for exams.ð...         0
8   we won!!! love the land!!! #allin #cavs #champ...         0
9    @user @user welcome here !  i'm   it's so #gr...         0
10   â #ireland consumer price index (mom) climb...         0
11  we are so selfish. #orlando #standwithorlando ...         0
12  i get to see my daddy today!!   #80days #getti...         0
13  @user #cnn calls #michigan middle school 'buil...         0
14  no comment!  in #australia   #opkillingbay #se...         0
15  ouch...junior is angryð#got7 #junior #yugyo...         0
16  i am thankful for having a paner. #thankful #p...         0
17                             retweet if you agree!          0
18  its #friday! ð smiles all around via ig use...         0
19  as we all know, essential oils are not made of...         0
20  #euro2016 people blaming ha for conceded goal ...         0
21  sad little dude..   #badday #coneofshame #cats...         0
22  product of the day: happy man #wine tool  who'...         0
23    @user @user lumpy says i am a . prove it lumpy.         0
24   @user #tgif   #ff to my #gamedev #indiedev #i...         0
25  beautiful sign by vendor 80 for $45.00!! #upsi...         1
26   @user all #smiles when #media is   !! ðð...         0
27  we had a great panel on the mediatization of t...         0
28        happy father's day @user ðððð           0
29  50 people went to nightclub to have a good nig...         2

In [8]:
train['uppercase'] = train['tweet'].apply(lambda x:len([x for x in x.split()
                                                       if x.isupper()]))
train[['tweet','uppercase']].head()

                                               tweet  uppercase
0   @user when a father is dysfunctional and is s...          0
1  @user @user thanks for #lyft credit i can't us...          0
2                                bihday your majesty          0
3  #model   i love u take with u all the time in ...          0
4             factsguide: society now    #motivation          0

In [9]:
train['lowercase']=train['tweet'].apply(lambda x:len([x for x in x.split()
                                                     if x.islower()]))
train[['tweet','lowercase']].head()

                                               tweet  lowercase
0   @user when a father is dysfunctional and is s...         18
1  @user @user thanks for #lyft credit i can't us...         19
2                                bihday your majesty          3
3  #model   i love u take with u all the time in ...         14
4             factsguide: society now    #motivation          4

In [10]:
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x.lower()for x in x.split()))

In [11]:
train['tweet'].head()

0    @user when a father is dysfunctional and is so...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
3    #model i love u take with u all the time in ur...
4                  factsguide: society now #motivation
Name: tweet, dtype: object

In [12]:
x = ['1','2','3','4']

In [13]:
train['tweet']= train['tweet'].str.replace('[^\w\s]','')
# ^--> begining of regex 
# \w--> Looks for all word characters a-z A-Z 0-9 _
#\s--> not a white space characters 
train['tweet'].head()

0    user when a father is dysfunctional and is so ...
1    user user thanks for lyft credit i cant use ca...
2                                  bihday your majesty
3    model i love u take with u all the time in urð...
4                    factsguide society now motivation
Name: tweet, dtype: object

In [14]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
train['tweet']=train['tweet'].apply(lambda x:" ".join(x for x in x.split()
                                       if x not in stop))
train['tweet'].head()

0    user father dysfunctional selfish drags kids d...
1    user user thanks lyft credit cant use cause do...
2                                       bihday majesty
3                model love u take u time urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [15]:
train['stopwords'] = train['tweet'].apply(lambda x:len([x for x in x.split() if x in stop]))
train [['tweet','stopwords']].head()

                                               tweet  stopwords
0  user father dysfunctional selfish drags kids d...          0
1  user user thanks lyft credit cant use cause do...          0
2                                     bihday majesty          0
3              model love u take u time urð ðððð ððð          0
4                      factsguide society motivation          0

In [16]:
freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[:10]
freq

user     17473
love      2647
ð         2511
day       2199
â         1797
happy     1663
amp       1582
im        1139
u         1136
time      1110
dtype: int64

In [17]:
freq = list(freq.index)
train['tweet'] = train['tweet'].apply(lambda x:" ".join(x for x in x.split()
                                                       if x not in freq))

train['tweet'].head()

0    father dysfunctional selfish drags kids dysfun...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [18]:
freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[-10:]
freq

teemo             1
trentmaysâ        1
slept             1
okinawa           1
jiraiya           1
locksheath        1
godivafestival    1
wecandothis       1
medication        1
ilovepiercings    1
dtype: int64

In [19]:
freq = list(freq.index)
train['tweet'] = train['tweet'].apply(lambda x:" ".join(x for x in x.split()
                                                       if x not in freq))
train['tweet'].head()

0    father dysfunctional selfish drags kids dysfun...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [20]:
!pip install -U textblob

Requirement already up-to-date: textblob in c:\users\manoj kumar\anaconda3\lib\site-packages (0.15.3)
Requirement not upgraded as not directly required: nltk>=3.1 in c:\users\manoj kumar\anaconda3\lib\site-packages (from textblob) (3.3)
Requirement not upgraded as not directly required: six in c:\users\manoj kumar\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.11.0)

distributed 1.21.8 requires msgpack, which is not installed.
neo4j-driver 1.6.0b3 has requirement neotime==1.0.0, but you'll have neotime 1.7.4 which is incompatible.
You are using pip version 10.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [22]:
from textblob import TextBlob
x1 = 'lets chekc this analytics'
new = str(TextBlob(x1).correct())
new

'lets check this analysis'

In [23]:
#spelling correction
train['tweet'][:20].apply(lambda x:str(TextBlob(x).correct()))

0     father dysfunctional selfish drags kiss dysfun...
1     thanks left credit can use cause dont offer wh...
2                                        midday majesty
3                                model take or ðððð ððð
4                         factsguide society motivation
5     22 huge fan fare big talking leave chaos pay d...
6                                camping tomorrow dandy
7     next school year year exam can think school ex...
8     land allen caps champions cleveland clevelandc...
9                                           welcome grm
10    ireland consumer price index mon climbed previ...
11    selfish orlando standwithorlando pulseshooting...
12                  get see daddy today days gettingfed
13    can calls michigan middle school build wall ch...
14    comment australia opkillingbay seashepherd hel...
15             ouchjunior angryðgot7 junior yugyoem org
16                     thankful paper thankful positive
17                                        between agree
18     friday smiles around via in colonies make people
19                   know essential oils made chemicals
Name: tweet, dtype: object

In [24]:
train['tweet']

0        father dysfunctional selfish drags kids dysfun...
1        thanks lyft credit cant use cause dont offer w...
2                                           bihday majesty
3                                  model take urð ðððð ððð
4                            factsguide society motivation
5        22 huge fan fare big talking leave chaos pay d...
6                                  camping tomorrow dannyâ
7        next school year year examsð cant think school...
8        land allin cavs champions cleveland clevelandc...
9                                              welcome gr8
10       ireland consumer price index mom climbed previ...
11       selfish orlando standwithorlando pulseshooting...
12                   get see daddy today 80days gettingfed
13       cnn calls michigan middle school build wall ch...
14       comment australia opkillingbay seashepherd hel...
15                ouchjunior angryðgot7 junior yugyoem omg
16                        thankful paner thankful positive
17                                           retweet agree
18         friday smiles around via ig cookies make people
19                      know essential oils made chemicals
20       euro2016 people blaming ha conceded goal fat r...
21       sad little dude badday coneofshame cats pissed...
22           product man wine tool whos weekend open drink
23                                  lumpy says prove lumpy
24             tgif ff gamedev indiedev indiegamedev squad
25       beautiful sign vendor 80 4500 upsideofflorida ...
26       smiles media ðð pressconference antalya turkey...
27          great panel mediatization public service ica16
28                                            fathers ðððð
29       50 people went nightclub good night 1 mans act...
                               ...
31932                                         thanks gemma
31933    judd homophobic freemilo milo freemilo milo fr...
31934           lady banned kentucky mall jcpenny kentucky
31935    ugh trying enjoy hour drink talks politics bar...
31936    want know live life things make less things ma...
31937                                               island
31938    fav actor vijaysethupathi fav actress fav dire...
31939                               whew productive friday
31940                                         shes finally
31941    passed first year uni yay pass unistudent phot...
31942             week flying humpday wednesday kamp ucsdâ
31943      modeling photoshoot friday yay model follow emo
31944     youre surrounded people even deserve yet hateful
31945                feel like ððð dog summer hot help sun
31946    omfg offended mailbox proud mailboxpride liber...
31947    dont balls hashtag say weasel away lumpy tony ...
31948                   makes ask anybody god oh thank god
31949    hear one new songs dont go katie ellie youtube...
31950    try tail us stop butt good goldenretriever ani...
31951           ive posted new blog secondlife lonely neko
31952                                             went far
31953    good morning instagram shower water berlin ber...
31954      holiday bull dominate bull direct whatever want
31955    less 2 weeks ðð¼ð¹ððµ ibizabringitonmallorcaho...
31956            fishing tomorrow carnt wait first 2 years
31957                             ate isz youuuðððððððððâï
31958    see nina turner airwaves trying wrap mantle ge...
31959      listening sad songs monday morning otw work sad
31960      sikh temple vandalised calgary wso condemns act
31961                                         thank follow
Name: tweet, Length: 31962, dtype: object

In [25]:
#import nltk
#nltk.download('punkt')

#Tokenization
from nltk.tokenize import sent_tokenize , word_tokenize
data = "The quick brown for jumps over the little lazy dog"
print(word_tokenize(data))

['The', 'quick', 'brown', 'for', 'jumps', 'over', 'the', 'little', 'lazy', 'dog']

In [26]:
TextBlob(train['tweet'][1]).words

WordList(['thanks', 'lyft', 'credit', 'cant', 'use', 'cause', 'dont', 'offer', 'wheelchair', 'vans', 'pdx', 'disapointed', 'getthanked'])

In [27]:
#difference between tokenize and split
data = "this is the tutorial of python, nltk, preprocessing"
data.split()

['this', 'is', 'the', 'tutorial', 'of', 'python,', 'nltk,', 'preprocessing']

In [28]:
word_tokenize(data)

['this',
 'is',
 'the',
 'tutorial',
 'of',
 'python',
 ',',
 'nltk',
 ',',
 'preprocessing']

In [29]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
train['tweet'][:5].apply(lambda x:" ".join([st.stem(word) for word in x.split()]))

0        father dysfunct selfish drag kid dysfunct run
1    thank lyft credit cant use caus dont offer whe...
2                                       bihday majesti
3                              model take urð ðððð ððð
4                              factsguid societi motiv
Name: tweet, dtype: object

In [32]:
# Sentiment Analysis
testimonial = TextBlob("Textblob is amazingly simple to use. What great fun!")
testimonial.sentiment

Sentiment(polarity=0.39166666666666666, subjectivity=0.4357142857142857)

In [33]:
testimonial.sentiment.polarity

0.39166666666666666

In [38]:
train['sentiment'] = train['tweet'].apply(lambda x: TextBlob(x).sentiment[0])
train[['tweet','sentiment']].head(30)

                                                tweet  sentiment
0   father dysfunctional selfish drags kids dysfun...  -0.500000
1   thanks lyft credit cant use cause dont offer w...   0.200000
2                                      bihday majesty   0.000000
3                             model take urð ðððð ððð   0.000000
4                       factsguide society motivation   0.000000
5   22 huge fan fare big talking leave chaos pay d...   0.200000
6                             camping tomorrow dannyâ   0.000000
7   next school year year examsð cant think school...  -0.400000
8   land allin cavs champions cleveland clevelandc...   0.000000
9                                         welcome gr8   0.800000
10  ireland consumer price index mom climbed previ...  -0.166667
11  selfish orlando standwithorlando pulseshooting...  -0.500000
12              get see daddy today 80days gettingfed   0.000000
13  cnn calls michigan middle school build wall ch...   0.000000
14  comment australia opkillingbay seashepherd hel...   0.000000
15           ouchjunior angryðgot7 junior yugyoem omg   0.000000
16                   thankful paner thankful positive   0.227273
17                                      retweet agree   0.000000
18    friday smiles around via ig cookies make people   0.000000
19                 know essential oils made chemicals   0.000000
20  euro2016 people blaming ha conceded goal fat r...   0.400000
21  sad little dude badday coneofshame cats pissed...  -0.145833
22      product man wine tool whos weekend open drink   0.000000
23                             lumpy says prove lumpy   0.000000
24        tgif ff gamedev indiedev indiegamedev squad   0.000000
25  beautiful sign vendor 80 4500 upsideofflorida ...   0.850000
26  smiles media ðð pressconference antalya turkey...   0.000000
27     great panel mediatization public service ica16   0.400000
28                                       fathers ðððð   0.000000
29  50 people went nightclub good night 1 mans act...   0.700000

In [39]:
# polarity and subjectivity
TextBlob("not a very good calculations").sentiment

Sentiment(polarity=-0.26923076923076916, subjectivity=0.46153846153846156)

In [40]:
TextBlob('great Video').sentiment

Sentiment(polarity=0.8, subjectivity=0.75)

In [41]:
TextBlob(' very great Video').sentiment

Sentiment(polarity=1.0, subjectivity=0.9750000000000001)

In [42]:
# Twitter--> Indian actor--> France Russia   so how can u analayis there languaage

In [44]:
msg = 'Python est genial'
blob = TextBlob(msg)
blob.detect_language()

'fr'

In [45]:
blob.translate(from_lang='fr', to='en')

TextBlob("Python is awesome")

In [46]:
blob.translate(from_lang='fr', to='hi')

TextBlob("अजगर कमाल का है")

In [57]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
train['tweet'][:5].apply(lambda x:" ".join([st.stem(word) for word in x.split()]))

0        father dysfunct selfish drag kid dysfunct run
1    thank lyft credit cant use caus dont offer whe...
2                                       bihday majesti
3                              model take urð ðððð ððð
4                              factsguid societi motiv
Name: tweet, dtype: object

In [60]:
from textblob import Word 
train['tweet'] = train['tweet'].apply(lambda x:" ".join([Word(word).lemmatize() for word in x.split()]))
train['tweet'].head()

0    father dysfunctional selfish drag kid dysfunct...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [59]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to C:\Users\Manoj
[nltk_data]     Kumar\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True